button {
	display: block;
}

section:first-child {
	font-weight: bold;
}

section:last-child {
	font-weight: bold;
	font-style: italic;
}

.blue {
	color: blue;
}

.hulkify {
	font-size: 5em;
}

.border {
	border: 2px solid black;
	padding: .5em;
}

.round {
	border-radius: 15px;
}